# Databricks Catalog & Schema Test
This notebook will create a catalog, schema, and table in Databricks, write sample data, and verify the schema and data output.

In [ ]:
# Import required libraries
import pandas as pd
from pyspark.sql import SparkSession

In [ ]:
# Create Spark session (Databricks automatically provides 'spark')
spark = SparkSession.builder.getOrCreate()

In [ ]:
# Create catalog and schema if not exist
spark.sql("CREATE CATALOG IF NOT EXISTS lifestyle_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS lifestyle_catalog.lifestyle_schema")

In [ ]:
# Create sample DataFrame
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['Paris', 'London', 'Berlin']
})
sdf = spark.createDataFrame(df)

In [ ]:
# Write DataFrame to Delta table in catalog.schema
sdf.write.mode('overwrite').saveAsTable('lifestyle_catalog.lifestyle_schema.people')

In [ ]:
# Verify schema and preview data
spark.sql("DESCRIBE TABLE lifestyle_catalog.lifestyle_schema.people").show()
spark.sql("SELECT * FROM lifestyle_catalog.lifestyle_schema.people").show()